body {
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif, times;  
}

div {
    padding: 0; 
}
div.nav{
    position: sticky;
}
ul li{
    display: inline;
    padding: 10px;
}
div.nav ul{
    text-align: center;
}
a.nav {
    color: white;
    text-decoration: none;
}

a.nav:hover {
    color: rgb(206, 206, 206);
    text-decoration: underline;
}

a.link {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

a.link:hover {
    color: rgb(56, 53, 82);
    text-decoration: underline;
}

.card{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: gray;
    border-radius: 25px;
    position: relative;
}
div.info{
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
}

div.infoText{
    display: inline-flex;
    flex-direction: column;
}

#profile{
    width: 100px;
}
#PWImage{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 280px;
    display: inline;

}

hr {
    border-top: 1px solid white
}

.video {
    text-align: center;
}